<% content_for :title, "Dad Jokes | Home" %>


<div class="container">
<div class="row">
		<div class="col-lg-12 all-skills-div">
	  <% @jokes.each do |joke| %>
	     <p><%= link_to joke.question, joke_path(joke) %></p>
	  <% end %>

		<button class="btn btn-default"><%= link_to "Add a joke", new_joke_path %></button>


		</div><!-- end of 2nd col 12 -->
	</div><!-- end of row 2 -->
</div><!-- end of main container -->
