<div class="container">
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3">
      <div class="well">
        <p><%= @joke.question %></p>
        <p><%= @joke.punchline %></p>
      </div>
      <button class="btn btn-default"><%= link_to "Back Home", root_path %></button>
      <button class="btn btn-default"><%= link_to "Edit a joke", edit_joke_path %></button>
  </div>
  </div>
</div>
